
@use "./../abstract";

.theme-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: $heading-font;
    letter-spacing: 0.015em;
    font-size: 1rem;
    transition: all .3s;
    & i{
        margin-left: 10px;
        transform: rotate(0deg);
        transition: all .35s;
    }
    &.style-one{
        padding: 18px 30px;
        line-height: 20px;
        background-color: $primary-black-color;
        color: $white-color;
        &:hover{
            background-color: $secondary-color;
            color: $white-color;
        }
        @include respond(xl){
            padding: 15px 30px;
        }
    }
    &.style-two{
        border: 1px solid $border-color;
        padding: 15px 30px;
        border-radius: 8px;
        line-height: 20px;
       
        color: $heading-color;
        &:hover{
            background-color: $secondary-color;
            color: $white-color;
        }
    }
    &:hover{
        & i{
            transform: rotate(-45deg);
        }
    }
}

.read-more{
    &.style-one{
        font-weight: 500;
        font-family: $body-font;
        color: $heading-color;
        & i{
            margin-left: 7px;
            transition: all .35s;
        }
        &:hover{
            color: $primary-color;
            text-decoration: underline;
            & i{
                margin-left: 10px;
            }
        }
    }
}

.play-btn{
    display: flex;
    align-items: center;
    color: $heading-color;
    & .icon{
        flex: 0 0 auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid $border-color;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(10px 4px 60px rgba(169, 169, 169, 0.25));
        margin-right: 20px;
    }
    & span{
        text-decoration: underline;
        font-weight: 700;
        font-family: $heading-font;
    }
}
