
// Font Family

$heading-font: var(--heading-font);

$body-font: var(--body-font);

$accent-font: var(--accent-font);


// Font Size

$h1-font: 80px;

$h2-font: 52px;

$h3-font: 30px;

$h4-font: 22px;

$h5-font: 20px;

$h6-font: 18px;