
/*======================
    Blog Section  CSS
=======================*/

.bizzen-blog-post-item{
    &.style-one{
        display: flex;
        align-items: center;
        padding: 20px;
        border: 1px solid $border-color;
        @include respond(md){
            flex-direction: column;
            align-items: flex-start;
        }
        & .post-thumbnail{
            max-width: 190px;
            width: 100%;
            flex: 0 0 auto;
            margin-right: 30px;
            @include respond(md){
                margin-right: 0;
                margin-bottom: 25px;
            }
        }
        & .post-content{
            & .post-meta{
                & span{
                    &:not(:last-child){
                        &:after{
                            margin-left: 20px;
                            margin-right: 20px;
                            vertical-align: middle;
                            display: inline-block;
                            content: '';
                            width: 5px;
                            height: 5px;
                            background-color: $primary-black-color;
                            border-radius: 50%;
                        }
                    }
                }
            }
            & .title{
                font-weight: 500;
                line-height: 34px;
                margin-bottom: 8px;
            }
            & p{
                margin-bottom: 10px;
            }
        }
    }
    &.style-two{
        border: 1px solid $border-color;
        padding: 20px;
        & .post-thumbnail{
            position: relative;
            & img{
                width: 100%;
            } 
            & .date{
                position: absolute;
                top: 20px;
                left: 20px;
                text-align: center;
                color: $white-color;
                font-size: 30px;
                font-weight: 700;
                font-family: $heading-font;
                background-color: $primary-black-color;
                padding: 10px 18px;
                line-height: 1;
                & span{
                    margin-top: 5px;
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: $body-font;
                    text-transform: capitalize;
                }
            }
        }
        & .post-content{
            padding-top: 20px;
            & .post-meta{
                & span{
                    display: inline-flex;
                    align-items: center;
                    margin-bottom: 10px;
                    & i{
                        margin-right: 10px;
                        color: $secondary-color;
                    }
                    &:not(:last-child){
                        &:after{
                            display: inline-flex;
                            margin-left: 20px;
                            margin-right: 20px;
                            content: '|';
                        }
                    }
                }
            }
            & .title{
                margin-bottom: 10px;
                &:hover{
                    color: $secondary-color;
                }
                @include respond(xxxl){
                    font-size: 20px;
                }
                @include respond(lg){
                    font-size: 18px;
                }
            }
            & p{
                margin-bottom: 15px;
            }
        }
    }
    &.style-three{
        border: 1px solid $border-color;
        background-color: #F6F6F6;
        & .post-thumbnail{
            position: relative;
            & img{
                width: 100%;
            } 
            & .date{
                position: absolute;
                bottom: -30px;
                right: 20px;
                text-align: center;
                color: $white-color;
                font-size: 30px;
                font-weight: 700;
                font-family: $heading-font;
                background-color: $primary-black-color;
                padding: 10px 18px;
                line-height: 1;
                & span{
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: $body-font;
                    text-transform: capitalize;
                }
            }
        }
        & .post-content{
            padding: 32px 20px 30px;
            & .post-meta{
                & span{
                    display: inline-flex;
                    align-items: center;
                    margin-bottom: 10px;
                    & i{
                        margin-right: 10px;
                        color: $secondary-color;
                    }
                    &:not(:last-child){
                        &:after{
                            display: inline-flex;
                            margin-left: 20px;
                            margin-right: 20px;
                            content: '|';
                        }
                    }
                }
            }
            & .title{
                margin-bottom: 20px;
                &:hover{
                    color: $secondary-color;
                }
                @include respond(xxxl){
                    font-size: 20px;
                }
                @include respond(lg){
                    font-size: 20px;
                }
            }
            & p{
                margin-bottom: 10px;
            }
        }
    }
}


/* Blog Standard Page */ 

.blog-standard-wrapper{
    .bizzen-blog-post-item{
        padding: 30px;
        & .post-content{
            & .title{
                font-size: 36px;
                line-height: 50px;
                @include respond(md){
                    font-size: 22px;
                    line-height: 35px;
                }
            }
        }
    }
}

/* Sidebar Widget Area */ 

.sidebar-widget-area{
    & .sidebar-widget{
        background-color: #F6F6F6;
        padding: 40px;
        @include respond(xxxl){
            padding: 40px 30px;
        }
        & .widget-title{
            margin-bottom: 25px;
            padding-bottom: 25px;
            border-bottom: 1px solid #D8DDE1;
        }
        &.sidebar-search-widget{
            & .form_control{
                border: 1px solid $border-color;
                padding: 12px 25px;
            }
            & .search-btn{
                position: absolute;
                top: 5px;
                right: 5px;
                height: 50px;
                width: 46px;
                height: 46px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $primary-black-color;
                color: $white-color;
            }
        }
        &.sidebar-nav-widget{
            & .widget-content{
                & ul{
                    & li{
                        &:not(:last-child){
                            margin-bottom: 15px;
                        }
                        & a{
                            display: flex;
                            width: 100%;
                            padding: 15px 25px;
                            background-color: $white-color;
                            border: 1px solid $border-color;
                            & span{
                                margin-left: auto;
                            }
                            &:hover{
                                background-color: $primary-black-color;
                                color: $white-color;
                            }
                        }
                    }
                }
            }
        }
        &.sidebar-post-widget{
            & .post-thumbnail-content{
                display: flex; 
                align-items: center;
                & img{
                    flex: 0 0 auto;
                    width: 100px;
                    margin-right: 15px;
                }
            }
        }
        &.sidebar-tag-widget{
            & .widget-content{
                & a{
                    padding: 13px 15px;
                    background-color: $white-color;
                    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
                    margin-bottom: 10px;
                    font-size: 14px;
                    font-weight: 400;
                    margin-right: 3px;
                    line-height: 1;
                    &:hover{
                        background-color: $primary-black-color;
                        color: $white-color;
                    }
                }
            }
        }
    }
}

/* Blog Details Page CSS */ 

.blog-details-wrapper{
    & .blog-post-item{
        border: 1px solid $border-color;
        padding: 30px;
        @include respond(md){
            padding: 30px 20px;
        }
        & .post-meta{
            & span{
                display: inline-flex;
                align-items: center;
                margin-bottom: 10px;
                & i{
                    margin-right: 10px;
                    color: $secondary-color;
                }
                &:not(:last-child){
                    &:after{
                        display: inline-flex;
                        margin-left: 20px;
                        margin-right: 20px;
                        content: '|';
                    }
                }
            }
        }
        & .post-thumbnail{
            margin-bottom: 30px;
        }
        & .post-content{
            & .title{
                font-size: 36px;
                line-height: 50px;
                margin-bottom: 20px;
                @include respond(md){
                    font-size: 22px;
                    line-height: 35px;
                }
            }
            & p{
                margin-bottom: 30px;
            }
            & blockquote{
                background-color: #F6F6F6;
                padding: 30px 20px 20px;
                position: relative;
                & .icon{
                    position: absolute;
                    top: -16px;
                    left: 20px;
                }
                & p{
                    margin-bottom: 10px;
                }
                & h5{
                    color: $secondary-color;
                    &:before{
                        display: inline-block;
                        content: '';
                        width: 50px;
                        height: 2px;
                        background-color: $secondary-color;
                        vertical-align: middle;
                        margin-right: 15px;
                    }
                }
            }
            & .bizzen-image{
                margin-bottom: 30px;
            }
        }
    }
    & .entry-footer{
        display: flex;
        align-items: center;
        border: 1px solid $border-color;
        justify-content: space-between;
        padding: 30px;
        @include respond(lg){
            flex-direction: column;
            justify-content: center;
        }
        & span{
            font-weight: 600;
            color: $heading-color;
            margin-right: 15px;
            font-size: 20px;
        }
        & .tag-links{
            & a{
                padding: 8px 20px;
                border: 1px solid $border-color;
                border-radius: 30px;
                margin-right: 5px;
                font-weight: 400;
                line-height: 20px;
                @include respond(sm){
                    margin-bottom: 10px;
                }
                &:hover{
                    background-color: $primary-color;
                    color: $heading-color;
                }
            }
        }
        & .social-share{
            @include respond(xl){
                margin-top: 15px;
            }
            & a{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                font-size: 13px;
                border: 1px solid $border-color;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                &:not(:last-child){
                    margin-right: 5px;
                }
                &:hover{
                    background-color: $primary-color;
                    color: $heading-color;
                }
            }
        }
    }
    & .comments-area{
        & h3.comments-title{
            margin-bottom: 30px;
        }
        & .comments-list{
            & .comment{
                padding: 30px;
                display: flex;
                border-radius: 8px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.10);
                background-color: $white-color;
                margin-bottom: 30px;
                @include respond (md){
                    flex-direction: column;
                }
                & .comment-avatar{
                    flex: 0 0 auto;
                    width: 85px;
                    height: 85px;
                    margin-right: 30px;
                    @include respond (md){
                        margin-bottom: 20px;
                    }
                    & img{
                        border-radius: 50%;
                        width: 100%;
                    }
                }
                & .comment-author-content{
                    position: relative;
                    & span.author-name{
                    text-transform: capitalize;
                    color: $heading-color;
                    font: 600 18px $heading-font;
                    margin-bottom: 15px;
                        & .date{
                            display: block;
                            font-size: 14px;
                            color: $text-color;
                            margin-top: 5px;
                        }
                    }
                    & p{
                        margin-bottom: 10px;
                    }
                    & .reply{
                        position: absolute;
                        right: 0;
                        top: 0;
                        color: $secondary-color;
                        font-weight: 500;
                        & i{
                            margin-right: 10px;
                        }
                        &:hover{
                            color: $primary-color;
                        }
                    }
                }
            }
            & .comment-reply{
                & .comment{
                    margin-left: 50px;
                    @include respond (md){
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    & .comment-form{
        & .form_control{
            border: 1px solid $border-color;
            padding: 15px 25px;
            font-weight: 300;
            margin-bottom: 30px;
        }
    }
}