
/*========================
    Company Section  CSS
==========================*/

.bizzen-company-sec{
    & .container-fluid{
        padding-left: 120px;
        padding-right: 120px;
        @include respond(xxxl){
            padding-left: 30px;
            padding-right: 30px;
        }
        @include respond(xl){
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    & .text-box{
        position: relative;
        z-index: 1;
        &:after{
            position: absolute;
            bottom: 10px;
            left: 0;
            content: '';
            width: 100%;
            height: 1px;
            background-color: $border-color;
            z-index: -1;
        }
        & h6{
            display: inline-block;
            padding: 0 30px;
            background-color: $white-color;
        }
    }
}

.bizzen-client-item{
    & .client-img{
        padding: 0 50px;
        text-align: center;
        & img{
            margin: 0 auto;
        }
        @include respond(md){
            padding: 0 20px;
        }
    }
}