
/*======================
    Counter Section  CSS
=======================*/

.bizzen-counter_one{
    position: relative;
    z-index: 1;
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: linear-gradient(270deg, rgba(6, 50, 50, 0.60) 0%, #063232 90.05%);
        z-index: -1;
    }
    & .bizzen-content-box{
        padding-bottom: 215px;
        @include respond(md){
            padding-bottom: 80px;
        }
        & p{
            color: $white-color;
        }
    }
    & .bizzen-counter-item{
        &.style-one{
            border-color: rgba(255, 255, 255, 0.50);
            & .number{
                & h2{
                    color: $white-color;
                }
            }
            & .content{
                & h5{
                    color: $white-color;
                }
            }
        }
    }
}

.bizzen-counter-item{
    &.style-one{
        display: flex;
        align-items: center;
        border-top: 1px solid $border-color;
        padding-top: 30px;
        transition: all .3s;
        & .number{
            flex: 0 0 auto;
            margin-right: 20px;
        }
        & .content{
            & h5{
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                text-transform: capitalize;
            }
        }
        &:hover{
            border-color: $primary-color;
        }
    }
    &.style-two{
        & .content{
            & h2{
                font-size: 48px;
                color: $white-color;
                margin-bottom: 20px;
            }
            & .line{
                width: 100%;
                height: 1px;
                background-color: rgba(255, 255, 255, 0.20);
                margin-bottom: 20px;
            }
            & h4{
                color: $white-color;
                margin-bottom: 15px;
            }
            & p{
                color: $white-color;
            }
        }
    }
    &.style-three{
        @include respond(lg){
            text-align: center;
        }
    }
}


/* Growth Section */

.bizzen-growth-sec{
    position: relative;
    z-index: 1;
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(6, 50, 50, 0.96);
        z-index: -1;
    }
    & .play-bg{
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include respond(xl){
            display: none;
        }
        & .video-popup{
            position: relative;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: $white-color;
            color: $secondary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            &:after,
            &:before{
                position: absolute;
                left: 0;
                top: 0;
                content: "";
                border-radius: 50%;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
            &:before{
                background-color: rgba(255, 255, 255, 0.50);
                animation: playpopup infinite ease-in 2s;
            }
            &:after{
                background-color: rgba(255, 255, 255, 0.40);
                animation: playpopup infinite ease-in-out 4s;
            }
            &:hover{
                color: $secondary-color;
            }
        }
    }
    & .bizzen-content-box{
        padding-right: 70px;
        @include respond(xl){
            padding-right: 0;
        }
        & > p{
            color: $white-color;
        }
        & .counter-wrap{
            background: radial-gradient(289.09% 298.82% at -18.48% -74.46%, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.40) 100%);
            backdrop-filter: blur(5.5px);
            & .item-column{
                &:not(:last-child){
                    border-right: 1px solid rgba(255, 255, 255, 0.25);
                    @include respond(md){
                        border-right: none;
                    }
                    & .bizzen-counter-item{
                        @include respond(md){
                            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                        }
                    }
                }
            }
            & .bizzen-counter-item{
                padding: 25px 40px 30px;
                & .content{
                    & h2{
                        color: $white-color;
                    }
                    & p{
                        color: $white-color;
                    }
                }
            }
        }
        & .theme-btn{
            &.style-one{
                background-color: $primary-color;
                color: $heading-color;
                &:hover{
                    background-color: $secondary-color;
                    color: $white-color;
                }
            }
        }
    }
}