
/*========================
    CTA Section  CSS
==========================*/

.bizzen-cta-sec{
    position: relative;
    z-index: 1;
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(31, 31, 31, 0.7);
        z-index: -1;
    }
    & .bizzen-button{
        & .theme-btn{
            &.style-one{
                background-color: $primary-color;
                color: $heading-color;
                &:hover{
                    background-color: $secondary-color;
                    color: $white-color;
                }
            }
        }
    }
}